// モバイルファーストのため、モバイルのスタイルを記述
body {
    font-family: 'Shippori Mincho', serif;
    background-color: $bgColor;

    p {
        margin: 0;
    }
}

.font-title {
    //サイトタイトルfont-size
    font-size: 28px;
}
.font-heading {
    //中見出しfont-size
    font-size: 26px;
}
.font-s {
    //font-size 小
    font-size: 14px;
}
.small-heading {
    //小見出し
    position: relative;
    text-align: center;
    font-size: 20px;

    &::before {
        content: ' - ';
    }
    &::after {
        content: ' - ';
    }
}
.mb-m {
    margin-bottom: 25px !important;
}
.mb-l {
    margin-bottom: 40px !important;
}
.pt-ll {
    padding-top: 100px !important;
}

.content-width {
    width: 90%;
    margin: 0 auto;
}

.global-container {
    & .header {
        position: fixed;
        padding: 5px;
        width: 100%;
        z-index: 100;
        background-color: $headColor;
        box-shadow: 0 4px 15px 1px rgba(0, 0, 0, 0.3);

        &__inner {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            & .web-title {
                @extend .font-title;
                margin: 0;
                line-height: 58px;
            }
        }

    }

    & .description {
        @extend .content-width;
        @extend .mb-m;

        & > h2::after {
            @extend .font-s;
            content: ' このwebサイトについて';
        }
    }

    & .parts {
        @extend .content-width;

        & > h2::after {
            @extend .font-s;
            content: ' 部品紹介';
        }

        &__box {
            @extend .mb-l;
            padding: 40px 0;
            text-align: center;
            background-color: $boxColor;
            box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.2);
        }

        &__use-file {
            & > dd {
                @extend .mb-m;
            }
        }
    }
}